.main {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

html {
    font-size: 12px;
}

.main-content {
    margin-top: 1.5rem;
}

input {
    text-align: center;
}

.text-center {
    text-align: center;
}

.ml-10 {
    margin-left: 10px;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}