.display-reward-font {
    font-size: 5rem;
}

.display-hourlywage-font {
    font-size: 10rem;
}

.money-content__p {
    font-size: 3rem;
    margin: 0 auto;
}

.unit-font {
    font-size: 3rem;
}

.reward-error {
    margin: 10px 0 0 20px !important;
    font-size: 1.5rem !important;
}