.stopwatch-content {
    margin-top: 2rem;
}

.stopwatch-content__time {
    font-size: 6rem;
}

.stopwatch-content__button-left {
    margin-left: auto !important;
}

.stopwatch-content__button-right {
    margin-right: auto !important;
}

.stopwatch-content__p {
    font-size: 2rem;
    margin: 4rem 0;
}

.select-time-error {
    margin: 10px 0 0 0 !important;
    width: 6.5rem;
    font-size: 1rem !important;
}